@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap&subset=cyrillic");

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* prevent tap highlight color / shadow */
    -webkit-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.messanger {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: relative;
}
.messanger__contacts {
    background-color: #3b3d4a;
    width: 400px;
}

.separator {
    height: 2px;
    background-color: #535563;
}
.contacts__search {
    border-radius: 20px;
    background-color: #535563;

    input {
        background-color: transparent;
        margin-right: 10px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 1.1em;
        width: 100%;
    }

    .fa {
        color: #ccc;
        flex-shrink: 0;
    }
}
.messanger__chat {
    width: 100%;
}

.contacts {
    overflow-y: auto;
    overflow-x: hidden;

    .separator {
        height: 1px;
        background-color: #535563;
        flex-shrink: 0;
        width: 90%;
        align-self: center;
    }
}

.contacts__item {
    cursor: pointer;

    &-logo {
        // background-image: url("../img/man1.jpg");
        width: 75px;
        height: 75px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &-text {
        .contacts__item-name {
            font-weight: bold;
            font-size: 1.2em;
            color: #e2e2e2;
        }
        .contacts__item-name--dark {
            font-weight: bold;
            font-size: 1.2em;
            color: #181818;
        }

        .contacts__item-message {
            color: #a8a8a8;
            font-weight: 300;
            margin-top: 10px;
            line-height: 1.1;

            span {
                color: #e2e2e2;
                font-weight: bold;
            }
        }
    }
}

.chat__header {
    background-color: #f5f4f9;

    .chat__close {
        font-size: 1.5em;
        color: #3b3d4a;
        cursor: pointer;

        &:hover {
            color: #515361;
            transition: 0.3s ease;
        }
    }

    #flatpickr {
        position: relative;
        flex-grow: 1;
        text-align: right;
        margin-right: 5px;

        input {
            width: 110px;
            outline: none;
            margin: 0;
        }

        a {
            position: absolute;
            top: 0;
            right: 5px;
            height: 100%;
        }
    }
}

.chat__body {
    height: 100%;
    position: relative;
    padding-bottom: 50px !important;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;

    .chat__messaage {
        background-color: #f5f4f9;
        border-radius: 20px;
        max-width: 50%;
        align-self: flex-start;
        padding-bottom: 5px;

        .message__time {
            align-self: flex-end;
            text-align: right;
            font-size: 0.8em;
            margin-top: 5px;
            font-weight: 300;
        }
    }

    .chat__messaage--mine {
        background-color: #31c96a;
        align-self: flex-end;
        color: #fff;
    }
}

.new-message {
    height: 50px;
    width: 100%;
    background-color: #f5f4f9;

    input {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.1em;
        width: 100%;
    }

    .btn.btn-send {
        background-color: #31c96a;
        color: #fff;
        cursor: pointer;
        flex-shrink: 0;
        height: 100%;
    }
}

///**** MEDIA ////////////////////
@media (hover: hover) and (pointer: fine) {
    .btn.btn-send {
        transition: 0.4s ease;
        background-color: #6ae097;
    }
    .contacts__item:hover {
        transition: 0.4s ease;
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    .chat__body {
        padding: 10px !important;

        .chat__messaage {
            max-width: 75%;
        }
    }
    .messanger__contacts,
    .messanger__chat {
        width: 100vw;
        flex-shrink: 0;
    }

    .messanger__chat {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(100%);
        z-index: 100;
        transition: transform 0.4s ease;

        &--open {
            transform: translateX(0);
        }

        .chat__header {
            padding: 0;

            .chat__close {
                display: block !important;
            }
        }
    }
    .new-message {
        height: 100px;
        .btn.btn-send {
            background-color: transparent;
            color: #31c96a;
            flex-shrink: 0;
            height: 100%;
            font-size: 2em;

            span {
                display: none;
            }
        }
    }
}

// SCROLL //////////
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}
//////////////////////// CSS Framework ////
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-4 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-3 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx-4 {
    margin-left: 20px;
    margin-right: 20px;
}

.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
